$bg-pos:30%;

.registration {
    &__container {
        width: 1080px;
        height: 1920px;
        background-image: url('../../common/images/pexels-photo-1640777.png');
        background-size: cover;
        background-position-x: 30%;
        margin: 0 auto;
        transition: background-position 0.3s ease-out;

        &--step-1 {
            background-position-x: $bg-pos+10;
        }

        &--step-2 {
            background-position-x: $bg-pos+20;
        }

        &--step-3 {
            background-position-x: $bg-pos+30;
        }

        &--step-4 {
            background-position-x: $bg-pos+40;
        }

        &--step-5 {
            background-position-x: $bg-pos+50;
        }
    }
}