@import '../../common/styles/constant-style.scss';

.drawing-module{
    background-image: url(../../common/images/background.png);
    padding: 20%;
    width: 1080px;
    height: 1920px;
    box-sizing: border-box;
    ;
}