.dashboard-module {
    width: 1080px;
    height: 1920px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 40px 500px 40px 250px 40px 250px 40px 500px;
    grid-template-areas: 
    "clock service"
    ". ."
    "place1 place2"
    ". ."
    "place3 place4"
    "place3 ."
    "place3 place5"
    ". ."
    "place6 place7";
    grid-column-gap: 40px;
    background-image: url(./Images/background.png)
}