.canvas-styling {
    grid-area: place1;
};

.canvas-background {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: auto;
    width: 100;
    padding: 0;
    border-radius: 10px;
};
