.youtube-widget{
    &__container{
        position: relative;
        width: 480px;
        height: 250px;
        border-radius: 10px;
        background-color: rgba($color: #000, $alpha: .32);
        margin: 0 auto;
        overflow: hidden;
        grid-area: place4;
    }
    &__thumbnail,&__play-button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__thumbnail{
        width:100%;
        z-index: -1;
    }
}