@import '../../../common/constants/ColorConstants.scss';
@import '../../Login/LoginConstants.scss';

.login-confirmation {
    &__container {
        @include step-cont-config;
        text-align: center;
    }

    &__items-wrapper {
        display: flex;
        justify-content: center;
    }

    &__color {
        width: 280px;
        height: 335px;
        border-radius: 40px;

        @include color-classes;
    }

    &__title {
        @include step-title;
    }

    &__subtitle {
        @include step-subtitle;
    }

    &__avatar-container {
        position: relative;
        margin: 20px 20px 14px;
        width: 240px;
        height: 240px;
        border-radius: 30px;
        overflow: hidden
    }

    &__avatar {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__username {
        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        margin: 0 20px 20px;
    }

    &__btn-container {
        width: 55%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__button {
        min-width: 160px;
        height: 70px;
        background-color: $btn-color;
        border: 1px solid $btn-color;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;

        &--cancel {
            background-color: transparent;
            color: $btn-color;
        }

        &--select {
            background-color: $btn-color;
        }
    }
}