@import '../../common/styles/reset';

.weather-container {
  padding: 1em;
  background-color: #bbb;
}

.weather {
  background-color: #fff;
  border-radius: 10px;
  width: 420px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Open Sans';
  color: rgb(90, 120, 145);

  &__icon {
    font-size: 5em;
    font-size: 100px;
    width: 80px;
  }

  .temperature {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__degrees {
      display: inline-block;
      width: 100px;
      order: 1;
      font-size: 64px;
      font-weight: 300;
      letter-spacing: -9px;
    }

    &__desc {
      width: 150px;
      order: 1;
      font-size: 19px;
      font-weight: 600;
    }
  }
}
