.login-animal {
    &__item-container {
        height: 147px;
        width: 147px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        margin-right: 10px;
    }

    &__item {
        width: 100%;
        opacity: .5;

        &--active {
            opacity: 1;
        }
    }
}