@import '../../Login/LoginConstants.scss';

.login-username {
    &__container {
        @include step-cont-config;
        text-align: center;
    }

    &__title {
        @include step-title;
    }

    &__subtitle {
        @include step-subtitle;
    }

    &__input {
        box-sizing: border-box;
        width: 325px;
        height: 70px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $input-color;
        color: $input-color;
        font-size: 24px;

    }

    &__btn-container {
        width: 55%;
        margin: 5% auto 0;
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 160px;
        height: 70px;
        background-color: $btn-color;
        border: 1px solid $btn-color;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;

        &--cancel {
            background-color: transparent;
            color: $btn-color;
        }

        &--select {
            background-color: $btn-color;
        }

        &--disabled {
            background-color: $btn-disabled-color;
            border-color: $btn-disabled-color;
            cursor: default;
        }
    }
}