@import '../../constants/ColorConstants.scss';

.user-component {

    &__items-wrapper {
        display: flex;
        justify-content: center;
    }

    &__color {
        @include color-classes;

        &--bigger {
            width: 280px;
            height: 335px;
            border-radius: 40px;
        }
    }

    &__avatar-container {
        &--bigger {
            position: relative;
            margin: 20px 20px 14px;
            width: 240px;
            height: 240px;
            border-radius: 30px;
            overflow: hidden
        }
    }

    &__avatar {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__username {
        &--bigger {
            font-size: 30px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            margin: 0 20px 20px;
        }
    }

}