@import '../../constants/ColorConstants.scss';

.user-component {

    &__items-wrapper {
        display: flex;
        justify-content: center;
        margin-right: 3vw;

        &--bigger {
            margin-right: 0;
        }
    }

    &__color {
        @include color-classes;

        border-radius: 40px;
        width: 210px;
        height: 255px;

        &--bigger {
            width: 280px;
            height: 335px;
        }
    }

    &__avatar-container {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        width: 185px;
        height: 185px;
        margin: 14px 14px 14px;

        &--bigger {
            margin: 20px 20px 10px;
            width: 240px;
            height: 240px;
        }
    }

    &__avatar {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__username {
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin: 0;

        &--bigger {
            font-size: 30px;
            margin: 0 14px 14px;
        }
    }

}