@import '../../common/styles/constant-style.scss';

.product-list{
    background-image: url(/src/common/styles/Images/background.png);
    padding: 80px 100px;

    &__header{
        color: #5F7891;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;

    }

    &__link{
        text-decoration: none;
    }

    &__arrow{
        width: 60px;
        height: 60px;
        font-size: 30px;
        border: 1px solid #5F7891;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__middle-container{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__middle-container-text{
        font-family: $font-style;
        font-size: 30px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
}
    &__fridge-list-container{
        width: 300px;
        border-radius: $border-radious;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 20px 0;
        font-family: $font-style;
        font-size: 20px;
        border: 1px solid #00C3FF;

        &-fridge{
            border: none;
            color:#00C3FF;
            justify-content: center;
            
        }
        &-list{
            border: none;
            width:100%;
            height: 100%;
            background-color:#00C3FF;
            justify-content: center;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: white;
        }
        
    }
&__products{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

    }
    
