@mixin color-classes {
    &--blue {
        background-color: #4B93FF;
    }

    &--skyblue {
        background-color: #00C3FF;
    }

    &--lightgreen {
        background-color: #AFDC53;
    }

    &--yellow {
        background-color: #FFC144;
    }

    &--violet {
        background-color: #B28DFF;
    }

    &--hotpink {
        background-color: #FF6B9D;
    }
}