@import '../LoginConstants.scss';

.login {
    &-main {
        &__container {
            box-sizing: border-box;
            padding: 10vh 0;
        }
    }

    &__text-container {
        @include txt-container
    }

    &__welcome-view-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__welcome-view-title {
        @include step-title;

        &--bigger {
            @include main-title;
        }
    }

    &__welcome-view-subtitle {
        @include step-subtitle;


        &--bigger {
            @include main-subtitle;
        }
    }
}