.hidden {
  display: none;
}

.product-tag {
  border-radius: 50%;
  height: 60px;
  width: 60px;

  &__circle {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 15px 36px black;
    position: relative;
  }
}

.popup {
  position: absolute;
  box-sizing: border-box;
  top: -220px;
  left: -170px;
  background: #3e474f;
  background: white;
  border-radius: 10px;
  height: 180px;
  width: 400px;
  z-index: 100;

  &__inner {
    border-radius: 10px;
    position: absolute;
    background: white;
    display: flex;
    flex-wrap: wrap;
    z-index: 100px;
    padding: 10px;
  }

  /*== pointer tip ==*/
  &::before {
    position: absolute;
    left: calc(50% - 20px);
    top: 105%;
    opacity: 1;
    z-index: 100;
    border-style: solid;
    border-width: 20px;
    border-color: #3e474f transparent transparent transparent;
    content: '';
    border-color: white transparent transparent transparent;
    transform: scale(1.6) translateY(0);
  }
}

.popup--rotated {
  position: absolute;
  box-sizing: border-box;
  top: 100px;
  left: -170px;
  background: #3e474f;
  background: white;
  border-radius: 10px;
  height: 180px;
  width: 400px;
  z-index: 100;

  &__inner {
    border-radius: 10px;
    position: absolute;
    background: white;
    display: flex;
    flex-wrap: wrap;
    z-index: 100px;
  }

  /*== pointer tip ==*/
  &::before {
    position: absolute;
    left: calc(50% - 20px);
    opacity: 1;
    z-index: 100;
    border-style: solid;
    border-width: 20px;
    border-color: #3e474f transparent transparent transparent;
    content: '';
    border-color: white transparent transparent transparent;
    transform: scale(1.6) translateY(0);

    top: -28%;
    transform: scale(1.6) rotate(180deg);
  }
}

.productName {
  width: 200px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 16px;
  font-family: 'Open Sans';
}

input[type='text'] {
  width: 200px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: 'Open Sans';
}

input::placeholder {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Open Sans';
  border-radius: 2px;
}

input:focus::placeholder {
  background: #ddd;
}
