@import 'ProductTag';
@import 'Popup';

.fridge {
  position: relative;
  height: auto;
  box-sizing: border-box;
  display: flex;

  &__image {
    width: 880px;
    height: 1435px;
  }

  &__list {
    display: inline-block;
  }

  &__loader {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
  }
}
