@import 'ProductTag';

.fridge {
  position: relative;
  height: auto;
  box-sizing: border-box;

  &__image {
    width: 870px;
    height: 625px;
    position: absolute;
    background-color: grey;
  }

  &__tag {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 15px 36px black;
  }

  &__list {
    display: inline-block;
  }
}
