.fridge {
  position: relative;
  height: auto;

  &__image {
    width: 875px;
    height: 630px;
    position: absolute;
    background-color: rgb(45, 95, 95);
  }

  &__tag {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 15px 36px black;
  }
}
